name: GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"   # Her gün günceller
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: cen-go
          # Tema seçenekleri: default, dracula, solarized, vue, nord_bright, nord_dark, etc.
          THEME: dracula
